{% extends 'base.html' %}
{% block title %}Password Reset{% endblock title %}
{% load static %}
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}
<div class="auth">
    <div class="card">
      <div class="auth__header text-center">
        <a href="/">
          <img src="{% static 'images/icon.svg' %}" alt="icon" />
        </a>
        <h3>Forget Password?</h3>
        <p>Reset password by entering the email address</p>
      </div>

      <form action="" class="form auth__form" method='POST'>
        {% csrf_token %}
        <!-- Input:Email -->
        <div class="form__field">
          <label for="formInput#email">{{form.label}}</label>
          {{form.as_p}}

        </div>
        <div class="auth__actions">
          <input class="btn btn--sub btn--lg" type="submit" value="Send Instructions" />
          <a href="{% url 'accounts:login' %}">Login</a>
        </div>
      </form>
      <div class="auth__alternative">
        <p>Don’t have an Account?</p>
        <a href="{% url 'accounts:signup' %}">Sign Up</a>
      </div>
    </div>
  </div>
{% endblock content %}